<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: header-html}"></head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <div style="width: 100%; display: flex; justify-content: center; padding: 1rem">
        <form th:action="@{/admin/user/create}" method="post" th:object="${user}"
              style="display: flex; flex-flow: column nowrap; width: 15rem; align-items: center; gap: 0.5rem">
            <input type="text" th:field="*{firstname}" th:placeholder="Firstname" required>
            <input type="text" th:field="*{lastname}" th:placeholder="Lastname" required>
            <input type="email" th:field="*{email}" th:placeholder="Email" required>
            <input type="password" th:field="*{password}" th:placeholder="Password" required>
            <button type="submit" style="width: 5rem">Create User</button>
        </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>