<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-html}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container mb-3 mt-3">
  <div class="row">
    <div class="col-8">
      <ul class="list-group">
        <li th:each="product : ${products}"
            class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              <p class="fw-bold" th:text="${product.name}"></p>
            </div>
            <span class="badge bg-primary rounded-pill" th:text="${product.price}"></span>
          </div>
          </a>
          <button class="btn btn-danger"
                  th:onclick="'javascript:handleProductRemove(' + ${product.id} + ')'" th:text="Remove">
          </button>
        </li>
      </ul>
    </div>
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          Cart
        </div>
        <div class="card-body">
          <h5 class="card-title">Total</h5>
          <p class="card-text" th:text="${sum}"></p>
        </div>
        <div class="card-footer text-body-secondary">
          <button class="btn btn-primary">Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
<script>
  const handleProductRemove = async (id) => {
    await fetch(`/order/removeProductFromOrder?productId=${id}`, {method: "DELETE"})
            .then((res) => {
              window.location.reload()
            })
            .catch((err) => console.log(err))
  }
</script>
