<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-html}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="card w-75 mb-3 mt-3 ps-3 ms-3">
    <div class="card-body">
        <h5 class="card-title">Welcome to the Shop</h5>
        <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur consectetur ante sit amet ligula euismod dignissim sed ac nibh. Etiam aliquet eu massa at vulputate. Etiam vitae sem nec dolor sagittis aliquet. Mauris nisi nulla, condimentum quis venenatis eu, auctor vel purus. In vulputate lacus nisi, id gravida nibh eleifend a. Nullam sodales aliquam dictum. Suspendisse ullamcorper semper commodo. Phasellus ultrices semper sapien, eu molestie sem imperdiet nec. Fusce rutrum faucibus justo nec viverra.
        </p>
        <div th:if="${currentRole == '[ROLE_ANONYMOUS]'}">
            <a href="/register" class="btn btn-primary">Join now</a>
            <a href="/login" class="btn btn-primary">Login</a>
        </div>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>