<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div style="width: 100%; display: flex; justify-content: center; padding: 1rem">
    <form th:action="@{/login}" method="post"
          style="display: flex; flex-flow: column nowrap; width: 15rem; align-items: center; gap: 0.5rem">
        <div th:if="${param.error}">
            <h3>Invalid email or password</h3>
        </div>
        <div th:if="${param.logout}">
            <h3>You have been logged out</h3>
        </div>

        <input type="email" name="email" th:placeholder="Email" required>
        <input type="password" name="password" th:placeholder="Password" required>
        <button type="submit" th:text="Login" style="width: 5rem"></button>
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>