<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header-html}"></head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<ul class="list-group">
  <li th:each="list : ${products}"
      class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto" style="display: flex; flex-flow: column nowrap">
      <p class="fw-bold" th:text="${list.name}"></p>
      <p th:text="${list.description}"></p>
    </div>
    <div style="display: flex; flex-flow: column nowrap;">
      <div style="display: flex; align-items: center; justify-content: center">
        <p class="badge bg-secondary" style="width: 100%" th:text="${list.price}"></p>
      </div>
      <div th:if="${currentRole == '[User]'}">
        <button class="btn btn-primary">Add to cart</button>
      </div>
      <div th:if="${currentRole != '[User]'}">
        <button class="btn btn-primary">Login to buy</button>
      </div>
    </div>
  </li>
</ul>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>