<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>
    <form action="auth/registerUser" method="post" th:object="${user}">
        <div>
            <label>First name</label>
            <input type="text" th:field="*{firstname}" required>
        </div>
        <div>
            <label>Last name</label>
            <input type="text" th:field="*{lastname}" required>
        </div>
        <div>
            <label>Email</label>
            <input type="email" th:field="*{email}" required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" th:field="*{password}" required>
        </div>
        <button type="submit">Sign up</button>
    </form>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>